# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Git & editor
.git/
.gitignore
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Node
node_modules/

# Local data/uploads
uploads/
